<h1 align="center">All AlphaBloggers</h1>
<%= @users.each do |user| %>
    <div class="row">
      <div class="well col-md-4 col-md-offset-4">
        <ul class="listing">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="article-title"><%= link_to user.username, user_path(user) %></li>
          <li><small><%= pluralize(user.articles.count, "article") if user.articles.any? %></small></li>
        </ul>
      </div>
    </div>
<% end %>