@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  color: black;
  font-weight: bold;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset_url('jumbo-bg.jpg');
  background-size: cover;
  height: 600px;
  color: white;
  font-weight: bold;
}

.jumbotron p {
  font-weight: bold;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  display: inline;
  padding-right: 10px;
}

